<div ng-controller="LogListCtrl">
    <div class="affix affix-top road-top {{app.settings.navbarCollapseColor}} lter wrapper-md">
        <h1 class="m-n font-thin h4">日志管理</h1>
    </div>

    <div class="bg-white-only row wrapper-sm" style="margin-left: 0px; ">
        <form class="bs-example form-horizontal" name="myForm" novalidate>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">组织：</label>
                <div class="col-md-8">
                    <select name="myorg" placeholder="选择组织" class="form-control input-sm"
                            data-ng-options="org as org.name for org in organizations"
                            ng-model="selected_org" ng-change="getSpaceByOrg(selected_org)" required>
                        <option value="">选择组织</option>
                    </select>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show="myForm.myorg.$dirty && myForm.myorg.$valid"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">空间：</label>
                <div class="col-md-8">
                    <select name="myspa" placeholder="选择空间" class="form-control input-sm"
                            data-ng-options="space as space.name for space in spaces"
                            ng-model="selected_spa" ng-change="getAppsBySpace(selected_spa)" required>
                        <option value="">选择空间</option>
                    </select>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show="myForm.myspa.$dirty && myForm.myspa.$valid"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">应用：</label>
                <div class="col-md-8">
                    <select placeholder="选择空间" class="form-control input-sm"
                            data-ng-options="app as app.name for app in apps"
                            ng-model="selected_app">
                        <option value="">选择应用</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label class="col-md-2 control-label">起止日期：</label>
                <div class="col-md-10">
                    <input ui-jq="daterangepicker" name="mydate" ui-options="{{datepickeroption}}"
                           class="form-control input-sm" ng-value="selected_date" readonly="true"/>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-info" ng-click="query()"
                            ng-disabled="myForm.$invalid">查询
                    </button>
                    <button type="reset" class="btn btn-default" ng-click="reset()">重置</button>
                </div>
            </div>

        </form>
    </div>
    <!-- <div class="wrapper-sm"> -->
        <tabset class="tab-container">
            <tab>
                <tab-heading>资源信息</tab-heading>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body b-b b-light">
                            <!--<label class="i-switch bg-info m-t-xs m-r">-->
                                <!--<input type="checkbox" ng-model="isShow" ng-change="realshow()">-->
                                <!--<i></i>-->
                            <!--</label>-->
                            <line-chart config="line_config" data="line_data"></line-chart>
                        </div>
                        <!--<div echarts="DISTRIBUTION_ID" config="distribution"></div>-->

                        <!--<div ui-jq="plot" ui-options="-->
              <!--[-->
                <!--{ data: [[19,17],[18,16],[17,16],[16,16],[15,16],[14,20],[13,19],[12,19],[11,20],[10,15],[9,19],[8,18],[7,21],[6,18],[5,21],[4,18],[3,17],[2,18],[1,17],[0,17]], label: 'CPU', points: { show: true }, lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } },-->
                <!--{ data: {{memory_data}}, label: 'Memory', points: { show: true }, lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.1}] } } }-->
              <!--],-->
              <!--{-->
                <!--colors: [ '#23b7e5','#fad733' ],-->
                <!--series: { shadowSize: 2 },-->
                <!--xaxis:{ font: { color: '#ccc' } },-->
                <!--yaxis:{ font: { color: '#ccc' } },-->
                <!--grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },-->
                <!--tooltip: true,-->
                <!--tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }-->
              <!--}" style="height:240px" >-->
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>访问日志</tab-heading>
                <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-auto-resize></div>
            </tab>
            <tab>
                <tab-heading>应用日志</tab-heading>
                <div ui-grid="gridOptions2" ui-grid-pagination ui-grid-auto-resize></div>
            </tab>
        </tabset>
    <!-- </div> -->
</div>