<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header lp-header-brand">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="img/logo.jpg">
            <a class="navbar-brand" href="#/access/index">TruePaaS
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-controller="VisibleController" class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left navbar-link">
                <li><a href="#">文档</a></li>
                <li><a href="#">下载</a></li>
              </ul>
              <ul ng-controller="BackToAppController" class="nav navbar-nav navbar-right">
              <li>
                <a class="lp-action btn sm" href="#">私有平台</a>
              </li>
                <li>
                  <a ng-show="visible" ng-click="backToApp()">控制台</a>
                </li>
                <li>
                  <a ng-hide="visible" href="#/access/login">注册</a>
                </li>
                <li>
                  <!--<a href="#/access/login">登录</a>-->
                    <a ng-hide="visible" ng-click="backToApp()">登录</a>
                </li>
              </ul>
            <div class="hidden-sm hidden-xs">
          </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>